<a href="https://colab.research.google.com/github/david-garza/final_project/blob/exploratory/exploratory_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Quick Analysis of CSV Data from BEACON and National Weather Service

## Beach Attributes File

In [3]:
import pandas as pd

In [26]:
beach_attr_df = pd.read_csv("/content/drive/MyDrive/Project/Data/Beach/Beach_Attributes.csv")

In [5]:
beach_attr_df.head()

,State,Year,Beach ID,Beach Name,County,Beach Ownership/Beach Accessibility,BeachLength (Mi),Tier,Start Latitude,Start Longitude,End Latitude,End Longitude,Waterbody Name,Waterbody Type,AdvisoryReportingFrequency(to EPA),AdvisoryReportingFrequencyUnits
0,TX,2022,TX710697,25th St.,GALVESTON,Public/Public,1.80,1,29.298146,-94.777565,29.284662,-94.794776,Gulf of Mexico,Open Coast,1.0,PER_YEAR
1,TX,2022,TX214299,45th St.,GALVESTON,Public/Public,1.55,1,29.284667,-94.794770,29.271917,-94.815865,Gulf of Mexico,Open Coast,1.0,PER_YEAR
2,TX,2022,TX486021,61st St.,GALVESTON,Public/Public,1.04,1,29.271922,-94.815859,29.264091,-94.830244,Gulf of Mexico,Open Coast,1.0,PER_YEAR
3,TX,2022,TX327206,Appfel Park,GALVESTON,Public/Public,2.06,1,29.337451,-94.733010,29.324250,-94.739129,Gulf of Mexico,Open Coast,1.0,PER_YEAR
4,TX,2022,TX940700,Caplen,GALVESTON,Public/Public,1.46,2,29.503046,-94.510477,29.494188,-94.532478,Gulf of Mexico,Open Coast,1.0,PER_YEAR

In [6]:
beach_attr_df.nunique()

State                                    1
Year                                    16
Beach ID                                36
Beach Name                              36
County                                   1
Beach Ownership/Beach Accessibility      1
BeachLength (Mi)                        69
Tier                                     3
Start Latitude                          36
Start Longitude                         36
End Latitude                            36
End Longitude                           36
Waterbody Name                           1
Waterbody Type                           2
AdvisoryReportingFrequency(to EPA)       1
AdvisoryReportingFrequencyUnits          1
dtype: int64

In [7]:
beach_attr_df["Beach Name"].unique()

array(['25th St.', '45th St.', '61st St.', 'Appfel Park', 'Caplen',
       'Caplen/Crystal Beach', 'Clara St.', 'Dellanera Park',
       'East Beach', 'Erman Pilsner Boat Ramp', 'Frank Carmona Beach',
       'Galveston Island State Park',
       'Galveston Island State Park Backside', 'Gilchrist East',
       'Gilchrist West', 'Gulf Shores', 'Haney Park', 'High Island East',
       'High Island West', 'Holiday', 'Indian Beach', 'Jamaica Beach',
       "O'Neil Rd.", 'Pirates Beach', 'Rettilon Road',
       'Rollover Pass East', 'Rollover Pass West', 'San Luis Pass',
       'Sea Isle', 'Seadrift', 'Skyline Drive', 'Skyline Park',
       'Spanish Grant/Bermuda Beach', 'Stewart Beach', 'Texas City Dike',
       'West End'], dtype=object)

In [8]:
beach_attr_df["Waterbody Type"].value_counts()

Open Coast              469
Sound, Bay, or Inlet     75
Name: Waterbody Type, dtype: int64

In [9]:
beach_attr_df["Year"].unique()

array([2022, 2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013, 2012,
       2011, 2010, 2009, 2008, 2007])

In [10]:
beach_attr_columns = beach_attr_df.nunique()[beach_attr_df.nunique()==1].index
beach_attr_columns

Index(['State', 'County', 'Beach Ownership/Beach Accessibility ',
       'Waterbody Name', 'AdvisoryReportingFrequency(to EPA)',
       'AdvisoryReportingFrequencyUnits'],
      dtype='object')

In [11]:
beach_attr_df.drop(beach_attr_columns,1,inplace=True)
beach_attr_df.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  """Entry point for launching an IPython kernel.

,Year,Beach ID,Beach Name,BeachLength (Mi),Tier,Start Latitude,Start Longitude,End Latitude,End Longitude,Waterbody Type
0,2022,TX710697,25th St.,1.80,1,29.298146,-94.777565,29.284662,-94.794776,Open Coast
1,2022,TX214299,45th St.,1.55,1,29.284667,-94.794770,29.271917,-94.815865,Open Coast
2,2022,TX486021,61st St.,1.04,1,29.271922,-94.815859,29.264091,-94.830244,Open Coast
3,2022,TX327206,Appfel Park,2.06,1,29.337451,-94.733010,29.324250,-94.739129,Open Coast
4,2022,TX940700,Caplen,1.46,2,29.503046,-94.510477,29.494188,-94.532478,Open Coast

In [12]:
beach_attr_df.drop("Year",1,inplace=True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  """Entry point for launching an IPython kernel.

In [13]:
print(beach_attr_df.shape)
beach_attr_df.head()

(544, 9)

,Beach ID,Beach Name,BeachLength (Mi),Tier,Start Latitude,Start Longitude,End Latitude,End Longitude,Waterbody Type
0,TX710697,25th St.,1.80,1,29.298146,-94.777565,29.284662,-94.794776,Open Coast
1,TX214299,45th St.,1.55,1,29.284667,-94.794770,29.271917,-94.815865,Open Coast
2,TX486021,61st St.,1.04,1,29.271922,-94.815859,29.264091,-94.830244,Open Coast
3,TX327206,Appfel Park,2.06,1,29.337451,-94.733010,29.324250,-94.739129,Open Coast
4,TX940700,Caplen,1.46,2,29.503046,-94.510477,29.494188,-94.532478,Open Coast

In [14]:
beach_attr_df.drop_duplicates(inplace=True)
beach_attr_df.shape

(71, 9)

In [15]:
len(beach_attr_df["Beach ID"].unique())

36

In [16]:
beach_attr_df["Beach ID"].value_counts()

TX710697    2
TX822495    2
TX974690    2
TX669225    2
TX751320    2
TX832087    2
TX284256    2
TX341767    2
TX767833    2
TX593160    2
TX236175    2
TX406100    2
TX650612    2
TX163187    2
TX451421    2
TX164090    2
TX239942    2
TX272864    2
TX168454    2
TX669733    2
TX486021    2
TX327206    2
TX940700    2
TX972853    2
TX392019    2
TX393353    2
TX981462    2
TX426780    2
TX795287    2
TX334226    2
TX226514    2
TX568423    2
TX122528    2
TX860495    2
TX632189    2
TX214299    1
Name: Beach ID, dtype: int64

Why is there duplicate beach IDs?

In [17]:
beach_attr_df[beach_attr_df["Beach ID"]=="TX710697"]

,Beach ID,Beach Name,BeachLength (Mi),Tier,Start Latitude,Start Longitude,End Latitude,End Longitude,Waterbody Type
0,TX710697,25th St.,1.800,1,29.298146,-94.777565,29.284662,-94.794776,Open Coast
468,TX710697,25th St.,1.396,1,29.298146,-94.777565,29.284662,-94.794776,Open Coast

Beach length changes slightly from one recored to the next

In [18]:
beach_attr_df.drop("BeachLength (Mi)",1,inplace=True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  """Entry point for launching an IPython kernel.

In [19]:
beach_attr_df.drop_duplicates(inplace=True)

Verify that they are unique now

In [20]:
beach_attr_df["Beach ID"].value_counts()

TX710697    1
TX214299    1
TX239942    1
TX974690    1
TX669225    1
TX751320    1
TX832087    1
TX284256    1
TX341767    1
TX822495    1
TX767833    1
TX236175    1
TX406100    1
TX650612    1
TX163187    1
TX451421    1
TX164090    1
TX593160    1
TX272864    1
TX669733    1
TX981462    1
TX486021    1
TX327206    1
TX940700    1
TX972853    1
TX392019    1
TX393353    1
TX168454    1
TX632189    1
TX795287    1
TX334226    1
TX226514    1
TX568423    1
TX122528    1
TX860495    1
TX426780    1
Name: Beach ID, dtype: int64

In [21]:
beach_attr_df.nunique()

Beach ID           36
Beach Name         36
Tier                3
Start Latitude     36
Start Longitude    36
End Latitude       36
End Longitude      36
Waterbody Type      2
dtype: int64

In [22]:
beach_attr_df["Tier"].value_counts()

1    23
2     7
3     6
Name: Tier, dtype: int64

In [23]:
beach_attr_df["Waterbody Type"].value_counts()

Open Coast              31
Sound, Bay, or Inlet     5
Name: Waterbody Type, dtype: int64

In [24]:
beach_attr_df.head()

,Beach ID,Beach Name,Tier,Start Latitude,Start Longitude,End Latitude,End Longitude,Waterbody Type
0,TX710697,25th St.,1,29.298146,-94.777565,29.284662,-94.794776,Open Coast
1,TX214299,45th St.,1,29.284667,-94.794770,29.271917,-94.815865,Open Coast
2,TX486021,61st St.,1,29.271922,-94.815859,29.264091,-94.830244,Open Coast
3,TX327206,Appfel Park,1,29.337451,-94.733010,29.324250,-94.739129,Open Coast
4,TX940700,Caplen,2,29.503046,-94.510477,29.494188,-94.532478,Open Coast

In [25]:
beach_attr_df.shape

(36, 8)

## Water Quality File

In [27]:
water_quality_df = pd.read_csv("/content/drive/MyDrive/Project/Data/Beach/Water_Quality_Report.csv")
water_quality_df.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (20) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,State Code,Year,Beach ID(Def.),Beach Name(Def.),StationID(Def.),Station Name (Def.),CountyName(Def.),Identifier(Def.),StartDate(Def.),StartTime(Def.),...,ActivityDepthValue(Def.),ActivityDepthUnitCode(Def.),ResultAnalyticalMethodIdentifier Context(Def.),ResultAnalyticalMethodIdentifier(Def.),ResultAnalyticalMethodName(Def.),Sample CollectionMethod Identifier(Def.),Sample Collection Method Name(Def.),Field Gear(Def.),AnalysisDateTime(Def.),DetectionQuantitationLimit(Def.)
0,TX,2021,TX974690,Jamaica Beach,GAL014,Jamaica Beach South,GALVESTON,GAL014_20211227_90752,27-DEC-21,09:00:00 AM,...,2,ft,21TXBCH,19299,ENTEROLERT,SPL_WTRGRB,Sample Water Grab,Water Bottle,NaN,-
1,TX,2021,TX974690,Jamaica Beach,GAL014,Jamaica Beach South,GALVESTON,GAL014_20211227_90752,27-DEC-21,09:00:00 AM,...,2,ft,21TXBCH,19299,ENTEROLERT,SPL_WTRGRB,Sample Water Grab,Water Bottle,NaN,-
2,TX,2021,TX974690,Jamaica Beach,GAL014,Jamaica Beach South,GALVESTON,GAL014_20211215_90599,15-DEC-21,09:00:00 AM,...,2,ft,21TXBCH,19299,ENTEROLERT,SPL_WTRGRB,Sample Water Grab,Water Bottle,NaN,-
3,TX,2021,TX974690,Jamaica Beach,GAL014,Jamaica Beach South,GALVESTON,GAL014_20211215_90599,15-DEC-21,09:00:00 AM,...,2,ft,21TXBCH,19299,ENTEROLERT,SPL_WTRGRB,Sample Water Grab,Water Bottle,NaN,-
4,TX,2021,TX974690,Jamaica Beach,GAL014,Jamaica Beach South,GALVESTON,GAL014_20211201_90435,01-DEC-21,09:00:00 AM,...,2,ft,21TXBCH,19299,ENTEROLERT,SPL_WTRGRB,Sample Water Grab,Water Bottle,NaN,-

In [29]:
water_quality_df.shape

(42540, 27)

In [28]:
water_quality_df.nunique()

State Code                                            1
Year                                                 15
Beach ID(Def.)                                       23
Beach Name(Def.)                                     23
StationID(Def.)                                      52
Station Name (Def.)                                  52
CountyName(Def.)                                      1
Identifier(Def.)                                  28575
StartDate(Def.)                                    1988
StartTime(Def.)                                      41
ZoneCode(Def.)                                        2
ActivityTypeCode(Def.)                                1
CharacteristicName(Def.)                              1
Result ValueText(Def.)                                0
ResultValue(Def.)                                  3006
ResultMeasureUnit                                     3
Result Comment(Def.)                                  0
ActivityDepthValue(Def.)                              1
ActivityDepthUnitCode(Def.)                           1
ResultAnalyticalMethodIdentifier Context(Def.)        1
ResultAnalyticalMethodIdentifier(Def.)                5
ResultAnalyticalMethodName(Def.)                      3
Sample CollectionMethod Identifier(Def.)              1
Sample Collection Method Name(Def.)                   1
Field Gear(Def.)                                      1
AnalysisDateTime(Def.)                                0
DetectionQuantitationLimit(Def.)                      1
dtype: int64

Drop non unique columns

In [35]:
water_quality_columns =water_quality_df.nunique()[(water_quality_df.nunique()==1) | (water_quality_df.nunique()==0)].index

In [36]:
water_quality_df.drop(water_quality_columns,1,inplace=True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  """Entry point for launching an IPython kernel.

In [37]:
water_quality_df.head()

,Year,Beach ID(Def.),Beach Name(Def.),StationID(Def.),Station Name (Def.),Identifier(Def.),StartDate(Def.),StartTime(Def.),ZoneCode(Def.),ResultValue(Def.),ResultMeasureUnit,ResultAnalyticalMethodIdentifier(Def.),ResultAnalyticalMethodName(Def.)
0,2021,TX974690,Jamaica Beach,GAL014,Jamaica Beach South,GAL014_20211227_90752,27-DEC-21,09:00:00 AM,CDT,7.94,MPN/100ml,19299,ENTEROLERT
1,2021,TX974690,Jamaica Beach,GAL014,Jamaica Beach South,GAL014_20211227_90752,27-DEC-21,09:00:00 AM,CDT,20.00,MPN/100ml,19299,ENTEROLERT
2,2021,TX974690,Jamaica Beach,GAL014,Jamaica Beach South,GAL014_20211215_90599,15-DEC-21,09:00:00 AM,CDT,6.30,MPN/100ml,19299,ENTEROLERT
3,2021,TX974690,Jamaica Beach,GAL014,Jamaica Beach South,GAL014_20211215_90599,15-DEC-21,09:00:00 AM,CDT,5.00,MPN/100ml,19299,ENTEROLERT
4,2021,TX974690,Jamaica Beach,GAL014,Jamaica Beach South,GAL014_20211201_90435,01-DEC-21,09:00:00 AM,CDT,7.07,MPN/100ml,19299,ENTEROLERT

In [38]:
water_quality_df.shape

(42540, 13)

Check unique values again

In [39]:
water_quality_df.nunique()

Year                                         15
Beach ID(Def.)                               23
Beach Name(Def.)                             23
StationID(Def.)                              52
Station Name (Def.)                          52
Identifier(Def.)                          28575
StartDate(Def.)                            1988
StartTime(Def.)                              41
ZoneCode(Def.)                                2
ResultValue(Def.)                          3006
ResultMeasureUnit                             3
ResultAnalyticalMethodIdentifier(Def.)        5
ResultAnalyticalMethodName(Def.)              3
dtype: int64

In [40]:
water_quality_df["ResultMeasureUnit"].value_counts()

MPN/100ml    23186
cfu/100ml    16175
CFU           3179
Name: ResultMeasureUnit, dtype: int64

Note measurement units, they are the same units. https://www.researchgate.net/post/Is_there_a_way_to_convert_MPN_most_probable_number_to_CFU_colony_forming_unit#:~:text=The%20simple%20answer%20is%20that,is%20equal%20to%20one%20CFU.

In [41]:
water_quality_df["ZoneCode(Def.)"].value_counts()

CDT    36100
CST     6440
Name: ZoneCode(Def.), dtype: int64

### Water Quality Resuls Value Inspection