<a href="https://colab.research.google.com/github/david-garza/final_project/blob/ml_refinement/machine_learning/ml_classifier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# Import dependencies
import pandas as pd

# Import sci-kit leanring modules
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

# Classifer Models
from sklearn.svm import LinearSVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier

# Metrics
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix

# Added SQLalchemy
import sqlalchemy as db
from config import password

# Setup Database Connection and Import Data

In [4]:
# create the connection to the PostgreSQL database.
db_string = f"postgresql://postgres1:{password}@final-project-database.crwsgvv9ibw0.us-east-1.rds.amazonaws.com:5432/final_project_db"
con = db.create_engine(db_string).connect()

/usr/local/lib/python3.7/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

## General Data

In [5]:
# Import and view data table
data_df = pd.read_sql_table("galveston_data_join",con)
data_df.head()

,beach_id,beach_name,start_lat,start_long,end_lat,end_long,waterbody_type,station_id,station_name,bacteria_count,...,date,week,month,year,avg_temp1,max_temp1,min_temp1,precipitation1,precipitation54,precipitation18
0,TX767833,Sea Isle,29.157639,-95.011542,29.125974,-95.062028,Open Coast,GAL005,Terramar Beach,40.0,...,2007-01-22,4,1,2007,52.0,53.0,50.0,0.0,NaN,NaN
1,TX767833,Sea Isle,29.157639,-95.011542,29.125974,-95.062028,Open Coast,GAL005,Terramar Beach,38.0,...,2007-01-22,4,1,2007,52.0,53.0,50.0,0.0,NaN,NaN
2,TX767833,Sea Isle,29.157639,-95.011542,29.125974,-95.062028,Open Coast,GAL007,Sea Isle South,58.0,...,2007-01-22,4,1,2007,52.0,53.0,50.0,0.0,NaN,NaN
3,TX767833,Sea Isle,29.157639,-95.011542,29.125974,-95.062028,Open Coast,GAL007,Sea Isle South,48.0,...,2007-01-22,4,1,2007,52.0,53.0,50.0,0.0,NaN,NaN
4,TX974690,Jamaica Beach,29.182981,-94.969426,29.176498,-94.980493,Open Coast,GAL014,Jamaica Beach South,64.0,...,2007-01-22,4,1,2007,52.0,53.0,50.0,0.0,NaN,NaN

## Load Weather Station Data

In [6]:
# Load the Primary Weather Stations Data
wx1_df = pd.read_sql_table("weather_station1",con)
wx18_df = pd.read_sql_table("weather_station18",con)
wx54_df = pd.read_sql_table("weather_station54",con)

In [7]:
wx1_df.head()

,date1,avg_temp1,max_temp1,min_temp1,precipitation1,snowfall1,snow_depth1
0,1946-08-01,NaN,86.0,77.0,0.0,0.0,0.0
1,1946-08-02,NaN,80.0,78.0,0.0,0.0,0.0
2,1946-08-03,NaN,90.0,80.0,0.0,0.0,0.0
3,1946-08-04,NaN,91.0,81.0,0.0,0.0,0.0
4,1946-08-05,NaN,91.0,80.0,0.0,0.0,0.0

In [8]:
wx18_df.head()

      date18  precipitation18
0 2012-09-01             0.01
1 2012-09-02             0.90
2 2012-09-12             0.02
3 2012-09-13             0.02
4 2012-09-14             0.18

In [9]:
wx54_df.head()

      date54  precipitation54
0 2015-02-07              0.0
1 2015-02-08              0.0
2 2015-02-09              0.0
3 2015-02-11              0.0
4 2015-02-12              0.0

# Data Processing and Feature Engineering

## Compute 5 Day averages and sums for WX data

In [10]:
# Add 5 Day Total rain fall ws18 and ws54
wx18_df["5_day_precip18"] = wx18_df["precipitation18"].rolling(5).sum()
wx54_df["5_day_precip54"] = wx54_df["precipitation54"].rolling(5).sum()

In [11]:
# Add 5 Day Total Rain and 5 Day average for WS1
wx1_df["5_day_precip1"]=wx1_df["precipitation1"].rolling(5).sum()
wx1_df["5_day_temp"]=wx1_df["avg_temp1"].rolling(5).mean()
wx1_df["5_day_temp_max"]=wx1_df["max_temp1"].rolling(5).mean()
wx1_df["5_day_temp_min"]=wx1_df["min_temp1"].rolling(5).mean()

In [12]:
wx1_df.tail()

,date1,avg_temp1,max_temp1,min_temp1,precipitation1,snowfall1,snow_depth1,5_day_precip1,5_day_temp,5_day_temp_max,5_day_temp_min
16978,2022-05-31,86.0,91.0,83.0,0.00,0.0,0.0,-2.220446e-15,84.8,90.6,80.8
16979,2022-06-01,86.0,90.0,81.0,0.00,0.0,0.0,-2.220446e-15,85.2,90.0,81.4
16980,2022-06-02,85.0,93.0,77.0,0.59,0.0,0.0,5.900000e-01,85.4,90.8,81.0
16981,2022-06-03,83.0,90.0,78.0,0.00,0.0,0.0,5.900000e-01,85.0,90.8,80.4
16982,2022-06-04,83.0,89.0,80.0,0.00,0.0,0.0,5.900000e-01,84.6,90.6,79.8

In [13]:
# Drop the redudant columns
drop_columns = ["avg_temp1",	"max_temp1",	"min_temp1",	"precipitation1",	"snowfall1",	"snow_depth1"]
wx1_df.drop(drop_columns,1,inplace=True)
wx1_df.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

       date1  5_day_precip1  5_day_temp  5_day_temp_max  5_day_temp_min
0 1946-08-01            NaN         NaN             NaN             NaN
1 1946-08-02            NaN         NaN             NaN             NaN
2 1946-08-03            NaN         NaN             NaN             NaN
3 1946-08-04            NaN         NaN             NaN             NaN
4 1946-08-05            0.0         NaN            87.6            79.2

In [14]:
# Drop ther redudant columns for the other wx
wx18_df.drop("precipitation18",1,inplace=True)
wx54_df.drop("precipitation54",1,inplace=True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

In [15]:
wx18_df.head()

      date18  5_day_precip18
0 2012-09-01             NaN
1 2012-09-02             NaN
2 2012-09-12             NaN
3 2012-09-13             NaN
4 2012-09-14            1.13

In [16]:
wx54_df.head()

      date54  5_day_precip54
0 2015-02-07             NaN
1 2015-02-08             NaN
2 2015-02-09             NaN
3 2015-02-11             NaN
4 2015-02-12             0.0

## Merge 5 Day Data and Drop Redundent Columns

In [17]:
# Merge the 5 Day station 1 data to data_df
data_df=data_df.merge(wx1_df,how="left",left_on="date",right_on="date1")
data_df.head()

,beach_id,beach_name,start_lat,start_long,end_lat,end_long,waterbody_type,station_id,station_name,bacteria_count,...,max_temp1,min_temp1,precipitation1,precipitation54,precipitation18,date1,5_day_precip1,5_day_temp,5_day_temp_max,5_day_temp_min
0,TX767833,Sea Isle,29.157639,-95.011542,29.125974,-95.062028,Open Coast,GAL005,Terramar Beach,40.0,...,53.0,50.0,0.0,NaN,NaN,2007-01-22,1.31,49.8,54.6,47.0
1,TX767833,Sea Isle,29.157639,-95.011542,29.125974,-95.062028,Open Coast,GAL005,Terramar Beach,38.0,...,53.0,50.0,0.0,NaN,NaN,2007-01-22,1.31,49.8,54.6,47.0
2,TX767833,Sea Isle,29.157639,-95.011542,29.125974,-95.062028,Open Coast,GAL007,Sea Isle South,58.0,...,53.0,50.0,0.0,NaN,NaN,2007-01-22,1.31,49.8,54.6,47.0
3,TX767833,Sea Isle,29.157639,-95.011542,29.125974,-95.062028,Open Coast,GAL007,Sea Isle South,48.0,...,53.0,50.0,0.0,NaN,NaN,2007-01-22,1.31,49.8,54.6,47.0
4,TX974690,Jamaica Beach,29.182981,-94.969426,29.176498,-94.980493,Open Coast,GAL014,Jamaica Beach South,64.0,...,53.0,50.0,0.0,NaN,NaN,2007-01-22,1.31,49.8,54.6,47.0

In [18]:
# Merge the other wx data sets
data_df=data_df.merge(wx18_df,how="left",left_on="date",right_on="date18")
data_df=data_df.merge(wx54_df,how="left",left_on="date",right_on="date54")
data_df.head()

,beach_id,beach_name,start_lat,start_long,end_lat,end_long,waterbody_type,station_id,station_name,bacteria_count,...,precipitation18,date1,5_day_precip1,5_day_temp,5_day_temp_max,5_day_temp_min,date18,5_day_precip18,date54,5_day_precip54
0,TX767833,Sea Isle,29.157639,-95.011542,29.125974,-95.062028,Open Coast,GAL005,Terramar Beach,40.0,...,NaN,2007-01-22,1.31,49.8,54.6,47.0,NaT,NaN,NaT,NaN
1,TX767833,Sea Isle,29.157639,-95.011542,29.125974,-95.062028,Open Coast,GAL005,Terramar Beach,38.0,...,NaN,2007-01-22,1.31,49.8,54.6,47.0,NaT,NaN,NaT,NaN
2,TX767833,Sea Isle,29.157639,-95.011542,29.125974,-95.062028,Open Coast,GAL007,Sea Isle South,58.0,...,NaN,2007-01-22,1.31,49.8,54.6,47.0,NaT,NaN,NaT,NaN
3,TX767833,Sea Isle,29.157639,-95.011542,29.125974,-95.062028,Open Coast,GAL007,Sea Isle South,48.0,...,NaN,2007-01-22,1.31,49.8,54.6,47.0,NaT,NaN,NaT,NaN
4,TX974690,Jamaica Beach,29.182981,-94.969426,29.176498,-94.980493,Open Coast,GAL014,Jamaica Beach South,64.0,...,NaN,2007-01-22,1.31,49.8,54.6,47.0,NaT,NaN,NaT,NaN

In [19]:
# Review the column names
data_df.columns

Index(['beach_id', 'beach_name', 'start_lat', 'start_long', 'end_lat',
       'end_long', 'waterbody_type', 'station_id', 'station_name',
       'bacteria_count', 'risk_level', 'date', 'week', 'month', 'year',
       'avg_temp1', 'max_temp1', 'min_temp1', 'precipitation1',
       'precipitation54', 'precipitation18', 'date1', '5_day_precip1',
       '5_day_temp', '5_day_temp_max', '5_day_temp_min', 'date18',
       '5_day_precip18', 'date54', '5_day_precip54'],
      dtype='object')

In [20]:
# Columns to keep
columns = ["date","week","station_id","risk_level","5_day_precip1","5_day_precip18","5_day_precip54","5_day_temp","5_day_temp_max","5_day_temp_min"]
data_df=data_df[columns]

In [21]:
data_df.shape

(29743, 10)

# Create Datasets for Models

In [22]:
# Model 1 DF will only use the data from weather station 1, longer time, but fewer columns
model_1_columns = ["week","station_id","risk_level","5_day_precip1","5_day_temp","5_day_temp_max","5_day_temp_min"]
model_1_df = data_df[model_1_columns].dropna().drop_duplicates()
model_1_df.shape

(20986, 7)

In [23]:
# Model 2 DF will include station 1 and 18 but fewer rows
model_2_columns = ["week","station_id","risk_level","5_day_precip1","5_day_precip18","5_day_temp","5_day_temp_max","5_day_temp_min"]
model_2_df = data_df[model_2_columns].dropna().drop_duplicates()
model_2_df.shape

(4575, 8)

In [24]:
# Model 3 DF will include all station data, less number of rows
model_3_columns = ["week","station_id","risk_level","5_day_precip1","5_day_precip18","5_day_precip54","5_day_temp","5_day_temp_max","5_day_temp_min"]
model_3_df = data_df[model_3_columns].dropna().drop_duplicates()
model_3_df.shape

(2748, 9)

# Preprocessing Model 1

## Split Features and Traget

In [25]:
# Split out the features and target
y1 = model_1_df["risk_level"]
X1 = model_1_df.drop("risk_level",1)

y2 = model_2_df["risk_level"]
X2 = model_2_df.drop("risk_level",1)

y3 = model_3_df["risk_level"]
X3 = model_3_df.drop("risk_level",1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  if __name__ == '__main__':

## Process Features

In [26]:
# Encode station_id
X1= pd.get_dummies(X1)

X2= pd.get_dummies(X2)

X3= pd.get_dummies(X3)

In [27]:
X1.head()

,week,5_day_precip1,5_day_temp,5_day_temp_max,5_day_temp_min,station_id_GAL001,station_id_GAL003,station_id_GAL005,station_id_GAL007,station_id_GAL013,...,station_id_GAL042,station_id_GAL044,station_id_GAL045,station_id_GAL046,station_id_GAL047,station_id_GAL048,station_id_GAL049,station_id_GAL050,station_id_GAL053,station_id_GAL055
0,4,1.310000e+00,49.8,54.6,47.0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,4,1.310000e+00,49.8,54.6,47.0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,4,1.310000e+00,49.8,54.6,47.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,12,-1.776357e-15,67.2,73.4,62.8,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
8,12,-1.776357e-15,67.2,73.4,62.8,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [28]:
# Start instance of scaler
scale = StandardScaler()

In [29]:
# Fit and apply scaling
X1 = scale.fit_transform(X1)

X2 = scale.fit_transform(X2)

X3 = scale.fit_transform(X3)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['quoted_name', 'str']. An error will be raised in 1.2.
  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['quoted_name', 'str']. An error will be raised in 1.2.
  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['quoted_name', 'str']. An error will be raised in 1.2.
  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['quoted_name', 'str']. An error will be raised in 1.2.
  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['quoted_name', 'str']. An error will be raised in 1.2.
  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['quoted_name', 'str']. An error will be raised in 1.2.
  FutureWarning,

## Process Target

In [30]:
# Initialize LabelEncoder
le = LabelEncoder()

In [31]:
le.fit(y1)

y1=le.transform(y1)
y2=le.transform(y2)
y3=le.transform(y3)

In [32]:
le.inverse_transform([0,1,2])

array(['high_risk', 'low_risk', 'medium_risk'], dtype=object)

## Train Test Split

In [33]:
X1_train, X1_test, y1_train, y1_test = train_test_split(X1,y1,random_state=42,stratify=y1)

X2_train, X2_test, y2_train, y2_test = train_test_split(X2,y2,random_state=42,stratify=y2)

X3_train, X3_test, y3_train, y3_test = train_test_split(X3,y3,random_state=42,stratify=y3)

In [34]:
X1_train.shape

(15739, 41)

In [35]:
X1_test.shape

(5247, 41)

In [36]:
X2_train.shape

(3431, 42)

# Linear SVC Model

In [37]:
# Initialize a model
lsvc_model = LinearSVC(dual=False)

In [38]:
# Fit the model and predict
lsvc_model.fit(X1_train,y1_train)
y1_hat_test = lsvc_model.predict(X1_test)

In [39]:
lsvc_model.fit(X2_train,y2_train)
y2_hat_test = lsvc_model.predict(X2_test)

In [40]:
lsvc_model.fit(X3_train,y3_train)
y3_hat_test = lsvc_model.predict(X3_test)

# Evaluate Performance

In [41]:
# Balanced Accuracy Score
print(balanced_accuracy_score(y1_test,y1_hat_test))
print(balanced_accuracy_score(y2_test,y2_hat_test))
print(balanced_accuracy_score(y3_test,y3_hat_test))

0.33961113260519843
0.34343164844498514
0.34355317903743193

In [42]:
# confustion matrix
print(confusion_matrix(y1_test,y1_hat_test))

[[   4  350    6]
 [   3 4137   10]
 [   3  726    8]]

# KNeighborsClassifier Model

In [43]:
knc_model = KNeighborsClassifier()

In [44]:
# Fit the model and predict
knc_model.fit(X1_train,y1_train)
y1_hat_test = knc_model.predict(X1_test)

In [45]:
knc_model.fit(X2_train,y2_train)
y2_hat_test = knc_model.predict(X2_test)

In [46]:
knc_model.fit(X2_train,y2_train)
y2_hat_test = knc_model.predict(X2_test)

# Evalute Performance

In [47]:
# Balanced Accuracy Score
print(balanced_accuracy_score(y1_test,y1_hat_test))
print(balanced_accuracy_score(y2_test,y2_hat_test))
print(balanced_accuracy_score(y3_test,y3_hat_test))

0.347878161220186
0.3478117485056477
0.34355317903743193

# SVC Model

In [48]:
svc_model = SVC()

In [49]:
# Fit the model and predict
svc_model.fit(X1_train,y1_train)
y1_hat_test = svc_model.predict(X1_test)

svc_model.fit(X2_train,y2_train)
y2_hat_test = svc_model.predict(X2_test)

svc_model.fit(X2_train,y2_train)
y2_hat_test = svc_model.predict(X2_test)

In [50]:
print(balanced_accuracy_score(y1_test,y1_hat_test))
print(balanced_accuracy_score(y2_test,y2_hat_test))
print(balanced_accuracy_score(y3_test,y3_hat_test))

0.33325301204819274
0.332871012482663
0.34355317903743193

# Random Forest

In [82]:
rfc_model = RandomForestClassifier(n_estimators=100)

In [83]:
# Fit the model and predict
rfc_model.fit(X1_train,y1_train)
y1_hat_test = rfc_model.predict(X1_test)

rfc_model.fit(X2_train,y2_train)
y2_hat_test = rfc_model.predict(X2_test)

rfc_model.fit(X2_train,y2_train)
y2_hat_test = rfc_model.predict(X2_test)

In [84]:
print(balanced_accuracy_score(y1_test,y1_hat_test))
print(balanced_accuracy_score(y2_test,y2_hat_test))
print(balanced_accuracy_score(y3_test,y3_hat_test))

0.46810434259274397
0.44569690028867975
0.34355317903743193

# AdaBoost

In [85]:
ada_model = AdaBoostClassifier(learning_rate=1.0,n_estimators=4000)

In [86]:
# Fit the model and predict
ada_model.fit(X1_train,y1_train)
y1_hat_test = ada_model.predict(X1_test)

ada_model.fit(X2_train,y2_train)
y2_hat_test = ada_model.predict(X2_test)

ada_model.fit(X2_train,y2_train)
y2_hat_test = ada_model.predict(X2_test)

In [87]:
print(balanced_accuracy_score(y1_test,y1_hat_test))
print(balanced_accuracy_score(y2_test,y2_hat_test))
print(balanced_accuracy_score(y3_test,y3_hat_test))

0.4293624581243714
0.5202641175416723
0.34355317903743193

# Gradient Boosting Classifier

In [91]:
gbc_model= GradientBoostingClassifier(n_estimators=4000)

In [92]:
# Fit the model and predict
gbc_model.fit(X1_train,y1_train)
y1_hat_test = gbc_model.predict(X1_test)

gbc_model.fit(X2_train,y2_train)
y2_hat_test = gbc_model.predict(X2_test)

gbc_model.fit(X2_train,y2_train)
y2_hat_test = gbc_model.predict(X2_test)

In [93]:
print(balanced_accuracy_score(y1_test,y1_hat_test))
print(balanced_accuracy_score(y2_test,y2_hat_test))
print(balanced_accuracy_score(y3_test,y3_hat_test))

0.49489174245602946
0.44557461250785096
0.34355317903743193